<?xml version='1.0' encoding='UTF-8' ?>

<configuration>

    <collection folder="global">

        <textfield>
            <name>config_debug_text</name>
            <default>Example</default>
        </textfield>

        <selectfield>
            <name>config_debug_select</name>
            <default>A</default>
            <opations>
                <option value="1">A</option>
                <option value="2">B</option>
                <option>C</option>
            </opations>
        </selectfield>

        <boolfield>
            <name>config_debug_bool</name>
            <default>false</default>
        </boolfield>

        <entityselectfield>
            <name>config_debug_text</name>
            <entity>SeoUrlTable</entity>
            <identifier>getId</identifier>
            <label>getLabel</label>
        </entityselectfield>

    </collection>



</configuration>
