$black: #000000;
$white: #ffffff;

$background-dark: #333333;
$background-dark-highlight: lighten($background-dark, 3%);
$background-black: #161616;
$background-black-highlight: lighten($background-black, 3%);

$font-color-white: #eeeeee;

$primary: #4477ee;
