$black: #000000;
$white: #ffffff;
$gray: #888888;
$green: #00ff00;
$red: #ff0000;
$yellow: #ffff00;

$background-dark: #333333;
$background-dark-highlight: lighten($background-dark, 3%);
$background-black: #161616;
$background-black-highlight: lighten($background-black, 3%);

$font-color-white: #eeeeee;

$primary: #1d8490;
