.h1 {
	font-size: $default-font-size * 2.5;
	font-weight: $font-weight-bold;
}

.h2 {
	font-size: $default-font-size * 2;
	font-weight: $font-weight-bold;
}

.h3 {
	font-size: $default-font-size * 1.5;
	font-weight: $font-weight-bold;
}

.h4 {
	font-size: $default-font-size * 1;
	font-weight: $font-weight-bold;
}