<div class="sidebar_branch_multiple">

    {% block sidebar_branch_multiple_toggle %}
        <div class="sidebar_category_toggle js-accordion">
            {{ sidebar_category.title }}
        </div>
    {% endblock %}

    {% block sidebar_branch_multiple_accordion %}
        <ul class="sidebar_category_accordion js-accordion-body">

            {% for sidebar_action in sidebar_category.actions %}

                <li class="sidebar_category_accordion_entry"
                    data-backend-content-link="/backend?controller={{ sidebar_action.controller }}&action={{ sidebar_action.action }}">
                    {{ sidebar_action.title }}
                </li>

            {% endfor %}

        </ul>
    {% endblock %}


</div>

