{% set sidebar_action = sidebar_category.actions|first %}


{% if sidebar_action.controller and sidebar_action.action %}
    {% set seo = seo_url(sidebar_action.controller, sidebar_action.action) %}
{% endif %}

<div class="sidebar_branch_single"
     data-backend-content-link="{{ seo }}">
    {{ ('backend.sidebar.branch.title.'~sidebar_category.title)|translate }}
</div>

