{% set sidebar_action = sidebar_category.actions|first %}

<div class="sidebar_branch_single"
     data-backend-content-link="{{ seo_url(sidebar_action.controller, sidebar_action.action) }}">
    {{ sidebar_category.title }}

</div>

