$black: #000000;
$white: #ffffff;
$gray: #888888;
$dark-gray: #3b3b3b;
$green: #21c121;
$red: #c91e1e;
$yellow: #ffff00;
$dark-yellow: #c6be17;
$blue: #2274ff;

$background-dark: #333333;
$background-dark-highlight: lighten($background-dark, 3%);
$background-black: #161616;
$background-black-highlight: lighten($background-black, 3%);

$font-color-white: #eeeeee;

$primary: #1d8490;


$gray-100: #191919;
$gray-200: #252525;
$gray-300: #323232;
$gray-350: #383838;
$gray-400: #3e3e3e;
$gray-450: #454545;
$gray-500: #4b4b4b;
$gray-600: #646464;
$gray-700: #7d7d7d;
$gray-800: #afafaf;
$gray-900: #e1e1e1;
