* {
	box-sizing: border-box;
}

html, body {
	margin: 0;
	padding: 0;
	font-family: $default-font-family;
	font-size: $default-font-size;
	font-weight: $default-font-weight;
	color: $font-color-white;
	overflow-y: hidden;
}

