<tr>

    <td class="text-align-center" style="width: 1em">

        {% if not seo_url.seo_url.active %}
            <span class="signal gray" title="Inaktiv"></span>
        {% elseif seo_url.seo_url.locked %}
            <span class="signal yellow" title="Gesperrt"></span>
        {% elseif seo_url.seo_url %}
            <span class="signal green" title="Definiert"></span>
        {% else %}
            <span class="signal red" title="Nicht Definiert"></span>
        {% endif %}
    </td>

    <td>
        {{ seo_url.controller }}
    </td>

    <td>
        {{ seo_url.method }}
    </td>

    <td>
        {% if seo_url.seo_url %}
            {{ seo_url.seo_url.cUrl }}
        {% else %}
            -
        {% endif %}
    </td>

    <td>[]</td>

</tr>
