.headline {
	display: flex;
	flex-direction: row;
	border-bottom: 2px solid $dark-gray;
	align-items: center;
	height: 3rem;
	font-size: 1.5rem;
	padding: 0.5rem 1rem;

	.headline-previous {
	}

	.headline-title {
		text-align: center;
	}

	.headline-buttons {
	}

}