#backend_sidebar {
	min-height: 100%;
	flex: 0 0 20%;
	min-width: 12rem;
	max-width: 16rem;
	background: $black;
	display: flex;
	top: 0;
	left: 0;

	.backend_sidebar_container {
		width: 100%;
		padding-bottom: 2rem;
		position: relative;

		.backend_sidebar_top {
			padding: 10px;
			text-align: center;

			//noinspection CssUnusedSymbol
			.backend_sidebar_top_icon {
				width: 40%;
				height: auto;
				display: inline-block;
			}
		}


		ul {
			list-style: none;
			padding: 0;
			margin: 0;
		}

		.sidebar_branch {
			width: 100%;
			min-height: 3rem;
			cursor: pointer;

			.sidebar_branch_multiple {

				.sidebar_category_toggle {
					display: flex;
					justify-content: flex-start;
					align-items: center;
					height: 3rem;
					padding: 0 10px;

					&:hover {
						background-color: $background-black-highlight;
					}
				}

				.sidebar_category_accordion {
					background-color: $background-black;

					.sidebar_category_accordion_entry {
						display: flex;
						justify-content: flex-start;
						align-items: center;
						height: 3rem;
						color: $white;

						&:hover {
							background-color: $background-black-highlight;
						}

						a {
							width: 100%;
							height: 100%;
							display: flex;
							justify-content: left;
							align-items: center;
							padding: 0 10px;
						}
					}

				}

			}

			.sidebar_branch_single {
				display: flex;
				justify-content: flex-start;
				align-items: center;
				height: 3rem;
				color: $white;

				&:hover {
					background-color: $background-black-highlight;
				}

				a {
					width: 100%;
					height: 100%;
					display: flex;
					justify-content: left;
					align-items: center;
					padding: 0 10px;
				}
			}

		}

		.backend_sidebar_profile {
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			border-top: 2px solid $dark-gray;
			cursor: pointer;
			padding: 2rem 0 0 0;

			//noinspection CssUnusedSymbol
			.backend_sidebar_profile_icon {
				filter: invert(1);
				position: absolute;
				top: 0;
				right: 0.5rem;
				height: 2rem;
				width: 1.4rem;
			}


			.backend_sidebar_profile_box {
				overflow: hidden;
				max-height: 0;
				padding-left: 10px;
			}
		}


	}

}