@mixin generate-displays {

	$possibilities: (
		'none',
		'block',
		'inline-block',
		'inline',
		'flex',
		'inline-flex',
		'list-item',
		'grid',
		'contents',
	);


	@each $i in $possibilities {
		.d-#{$i} {
			display: #{$i};
		}
	}

	@each $breakpoint, $size in $breakpointList {
		@include breakpoint-up($size) {
			@each $i in $possibilities {
				.col-#{$breakpoint}-#{$i} {
					display: #{$i};
				}
			}
		}
	}
}
@include generate-displays();