{% set sidebar_action = sidebar_category.actions|first %}


<div class="sidebar_branch_single">
    <a {% if sidebar_action.route %}href="{{ seo_url(sidebar_action.route, sidebar_action.parameters) }}"{% endif %}>
        {{ ('backend.sidebar.branch.title.'~sidebar_category.title)|translate }}
    </a>
</div>

